<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.my.MemberManageMapper">
	<select id="selectOne" resultType="MemberManage">
		select * from bookmanage
		where userid=#{userid}
	</select>
	<update id="bookLike">
		insert into bookmanage(userid, gubun,num)
		values(#{userid},'B',#{num})
	</update>
	<delete id="bookLikeDelete">
		delete from bookmanage
		where userid=#{userid} and num=#{num}
	</delete>
	<insert id="reviewLikeInsert">
		insert into reviewmanage(userid, gubun, num)
		values(#{userid}, 'R', #{num})
	</insert>
	<delete id="reviewLikeDelete">
		delete from reviewmanage
		where userid=#{userid} and num=#{num}
	</delete>
</mapper>